// Place all the styles related to the FrontendAdmin::AdminBar controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$to: #999999;

@mixin box-gradient($from: #444444, $to: #999999) {
  background-color: $from;
  background-image: -webkit-gradient(linear, left top, left bottom, from($from), to($to)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, $from, $to); /* Chrome 10+, Saf5.1+ */
  background-image:    -moz-linear-gradient(top, $from, $to); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, $from, $to); /* IE10 */
  background-image:      -o-linear-gradient(top, $from, $to); /* Opera 11.10+ */
  background-image:         linear-gradient(top, $from, $to);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='$from', EndColorStr='$to'); /* IE6–IE9 */
}

body {
    color: #333333;
    font-family: "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    font-size: 12px;
}

.wat-cf{
    display: block;
    &:after {
        clear: both;
        content: ".";
        display: block;
        height: 0;
        visibility: hidden;
    }
}

#admin-bar {
    position: absolute;
    top: -1000px;
}
.admin_wrap {
    padding-top: 35px;
    #admin-bar {
        position: fixed;
        top: 0;
        height: 35px;
        width: 100%;
        li {
            padding: 5px 10px;
            float: left;
        }
        #admin-bar-wrapper {
            position: absolute;
            top: 0;
            height: 35px;
            width: 100%;
            background: none repeat scroll 0 0 #417690;
            color: #FFFFCC;
            overflow: hidden;
            a, a:visited {
                color: #FFFFCC;
                text-decoration: none;
                font-weight: bold;
            }
            a:hover{
                color: yellow;
                text-shadow: -5px -5px 12px yellow;
            }
            #user-navigation {
                float: right;
            }
            #pages-navigation {
                float: right;
                margin-right: 100px;
            }
            #widgets-navigation {
                float: right;
                margin-right: 100px;
                .show_widgets {
                    padding-left: 20px;
                    background: image_url('/assets/rails_admin/theme/activo/images/icons/see-more.png') no-repeat 0 2px;
                }
                .opened {
                    background: image_url('/assets/rails_admin/theme/activo/images/icons/see-less.png') no-repeat 0 2px;
                }
            }
            .title {
                float: left;
                font-size: 17px;
                line-height: 34px;
                padding-left: 20px;
            }
        }
        #widgets-container {
            position: absolute;
            bottom: 40px;
            width: 100%;
            padding: 0 10px;
            box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.25) inset, 0 1px 1px rgba(255, 255, 255, 0.3);
            li {
                padding: 5px 10px;
                float: left;
            }
        }

    }
    .placeholder_theme, .placeholder_page{
        list-style-type: none;
    }
    .widget-wrap {
        padding: 5px;
        margin: 2px;
        border: 1px dashed black;
        position: relative;
        .management {
            font-size: 11px;
            position: absolute;
            right: 1px;
            top: 1px;
            z-index: 10000;
            a {
                color: #934900;
                text-decoration: none;
                background-color: rgba(255, 163, 0, 0.8);
                border: 1px solid #934900;
                -moz-border-radius: 4px;
                -webkit-border-radius: 4px;
                border-radius: 4px;
                padding: 1px;
                &:hover{
                    color: #931900;
                    border: 1px solid #931900;
                    background-color: rgba(255, 163, 0, 0.3);
                }
            }
        }
    }
}
