.forms {
    width: 960px;
    margin: 10px auto;
    h2 {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
        text-align: center;
    }
    .required {
        text-shadow: 0 0 7px red;
    }
    .formtastic {
        .input {
            label {
                width: 15%;
            }
            .inline-hints {
                margin: 0.5em 0 0 15%;
            }
        }
        .boolean label {
            padding-left: 15%;
        }
        .buttons {
            padding-left: 15%;
        }
    }
}