.page_preview
  .main1
    .image=link_to image_tag('http://www.kab.co.il/images/attachments/6/240306_large.jpg', :title => 'משה אדמוני וגלעד שדמון'), '#'
    .title=link_to 'חוויה ושמה קבלה - קורס להיות אדם, שיעור 2', '#'
    .descr
      מהי הגלובליזציה ויתרונותיה ומדוע אנחנו לא מצליחים להיות מאושרים למרות השפע והקידמה שהיא מאפשרת?  שיעור מרתק וחוויתי, בהנחיית גלעד שדמון ומשה אדמוני

