.pages_preview
  .main1
    .image=link_to image_tag('http://www.kab.co.il/images/attachments/6/240306_large.jpg', :title => 'משה אדמוני וגלעד שדמון'), '#'
    .text
      .title=link_to 'חוויה ושמה קבלה - קורס להיות אדם, שיעור 2', '#'
      .descr
        מהי הגלובליזציה ויתרונותיה ומדוע אנחנו לא מצליחים להיות מאושרים למרות השפע והקידמה שהיא מאפשרת?  שיעור מרתק וחוויתי, בהנחיית גלעד שדמון ומשה אדמוני
    .more.video=link_to 'לכתבה המלא', '#'
    .clb

.pages_preview
  .index.odd
    .image=link_to image_tag('http://www.kab.co.il/images/attachments/75/240175_small.jpg', :title => 'משה אדמוני וגלעד שדמון'), '#'
    .text
      .title=link_to 'ערבות הדדית - העתיד של כולנו', '#'
      .descr
        הרצאה מרתקת עם הרב ד"ר מיכאל לייטמן ביום חמישי, 19.01.2012, בשעה 18:30, בית ברבור, תל-אביב
    .more.none=link_to 'לכתבה המלא', '#'
    .clb
  .index.even
    .image=link_to image_tag('http://www.kab.co.il/images/attachments/75/240175_small.jpg', :title => 'משה אדמוני וגלעד שדמון'), '#'
    .text
      .title=link_to 'ערבות הדדית - העתיד של כולנו', '#'
      .descr
        הרצאה מרתקת עם הרב ד"ר מיכאל לייטמן ביום חמישי, 19.01.2012, בשעה 18:30, בית ברבור, תל-אביב
    .more.video=link_to 'לכתבה המלא', '#'
    .clb

.pages_preview
  .main2
    .element
      .image=link_to image_tag('http://www.kab.co.il/images/attachments/6/237406_medium.jpg', :title => 'זוהר לעם'), '#'
      .text
        .title=link_to '"זוהר לעם" - פרשת בראשית א', '#'
        .descr
          פרשת "בראשית א'" - כל השיעורים
      .more.none=link_to 'להמשך', '#'
    .element
      .image=link_to image_tag('http://www.kab.co.il/images/attachments/6/237406_medium.jpg', :title => 'זוהר לעם'), '#'
      .text
        .title=link_to '"זוהר לעם" - פרשת בראשית א', '#'
        .descr
          פרשת "בראשית א'" - כל השיעורים
      .more.none=link_to 'להמשך', '#'
