/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
*/
$gridColumns: 20;
$gridColumnWidth: 40px;
$gridGutterWidth: 10px;

@import "bootstrap";

@mixin sans-serif-font($weight: normal, $size: 14px, $lineHeight: 20px) {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: $size;
  font-weight: $weight;
  line-height: $lineHeight;
}

$blue-dark: #3864B5;
$blue-light: #90AEDE;

body {
  @include sans-serif-font;
}
#header {

}

#left_column {

}

@mixin title-h1($bgcolor: $blue-dark) {
  @include border-radius(10px 10px 0 0);
  color: white;
  background-color: $bgcolor;
  font-size: 16px;
  height: 30px;
  line-height: 30px;
  margin: 0;
  padding: 0 10px 0 0;
  position: relative;
  text-align: right;
}
#middle {
  .h1 {
    @include title-h1();
  }
}

#right_column {
  .h1 {
    @include title-h1($blue-light);
  }
}

#bottom {

}