- content_for :theme do
  = yield
  #navigation(style="width:28%; min-height: 100px; padding: 0 1%; float: left;")
    = placeholder(:page, :content1)
    = placeholder(:page, :content2)

= render :template => 'layouts/application'